.activeSideBar {
	display: flex;
	justify-content: space-between;
	width: 300px;
	color: #46a358;
	text-decoration: none;
	padding: 10px;
}
.notActiveSideBar {
	display: flex;
	justify-content: space-between;
	width: 300px;
	color: rgb(79, 79, 79);
	text-decoration: none;
	padding: 10px;
}
