* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}
.table-container {
	overflow-x: hidden;
	height: 350px;
	border-radius: 10px;
	box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.1);
}
.table-header {
	position: fixed;
	background-color: whitesmoke;
	text-align: left;
}

tr {
	display: grid;
	grid-template-columns: repeat(5, 120px);
	padding: 20px 0;
}
tr:not(tr:first-child) {
	border-top: 1px solid rgba(128, 128, 128, 0.178);
}
tr:nth-child(2) {
	margin-top: 58.4px;
}
td,
th {
	margin: 0 20px;
}
